<!DOCTYPE html>

<html lang="en-GB">

<head>

<title>BME280 Temperature, Humidity and Pressure Server</title>

<meta charset="utf-8">

<!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> -->

<meta http-equiv="refresh" content="5">

</head>

<body>

<!--<span class="header">
BME280 Sensor Output
</span>-->


<span class="col1">

<h2>Temperature</h2>
<h3>{{ degrees }}&deg;C</h3>

</span>

<span class="col2">
<h2>Humidity</h2>

<h3>{{ humidity }}%</h3>
</span>


<span class="col3">

<h2>Pressure</h2>

<h3>{{ hectopascals }} hPa</h3>

</span>


</div>

</body>

</html>

